// BASE COLORS
$color-white: #fff;
$color-black: #000;

// FONT SIZE

$font-size-normal: 14px;

// FONT LINE HEIGHT

$font-line-normal: 14px;

// FONT WEIGHT

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// OTHER

$transition: 0.2s ease;
$opacity: 0.6;
$border-radius: 6px;
$shadow: 0 5px 50px rgba($color-black, 0.15);
